<div class="container md-p-5 text-center">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.nombre}}</td>
          <td>{{this.descripcion}}</td>
          <td>{{formatear "fecha" this.created_at}}</td>
          <td><a href="/todo-delete/{{this.id}}" class="btn btn-danger">Eliminar</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <a href="/todo-create" class="btn btn-primary mt-2">Crear</a>
</div>
